.announcement {
  background: url("../img/announcement-background-desktop.jpg") no-repeat;
  min-height: 860px;
  background-size: cover;

  @media (max-width: $tablet-width) {
    background: url("../img/announcement-background-tablet.jpg") no-repeat;
    min-height: 344px;
    background-size: cover;
  }

  @media (max-width: $mobile-width) {
    background: url("../img/announcement-background-mobile.jpg") no-repeat;
    min-height: 235px;
    // background-size: cover;
  }
}

.announcement__wrapper {
  @media (min-width: $desktop-width) {
    padding-top: 185px;
    padding-right: 88px;
    display: grid;
    grid-template-columns: 1fr;
  }

  @media (max-width: $tablet-width) {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    padding-top: 81px;
  }
}

.announcement__title {
  @include fontvalue (55px, 80px, 600, normal);
  color: $white-main;
  padding-bottom: 30px;
  margin: 0;
  grid-column-start: -1;
  letter-spacing: -1.27px;

  @media (max-width: $tablet-width) {
    @include fontvalue (30px, 45px, 600, normal);
    letter-spacing: normal;
    padding-bottom: 15px;

    br {
      display: none;
    }

    @media (max-width: $mobile-width) {
      @include fontvalue (24px, 36px, 600, normal);
      text-align: center;
      padding-bottom: 51px;
      margin-bottom: 51px;
    }
  }
}

.announcement__subtitle {
  color: $white-main;
  @include fontvalue (16px, 27px, 400, normal);
  margin: 0;
  padding-bottom: 34px;
  letter-spacing: -0.57px;
  grid-column-start: -1;

  &--shift-mobile,
  &--shift-tablet,
  &--shift-desktop {
    display: none;
  }

  @media (min-width: $desktop-width) {
    &--shift-desktop {
      display: block;
    }
  }

  @media (max-width: $tablet-width) {
    text-align: center;
    padding-bottom: 10px;

    &--shift-tablet {
      display: block;
    }
  }

  @media (max-width: $mobile-width) {
    color: $dark-grayish-blue;
    padding-bottom: 20px;

    &--shift-tablet {
      display: none;
    }

    &--shift-mobile {
      display: block;
    }
  }
}

.announcement__link {
  width: 340px;
  min-height: 75px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  grid-column-start: -1;
}
